<link rel="stylesheet" href="/css/style.css">
<video autoplay loop muted src="https://sidcupfamilygolf.com/wp-content/uploads/2023/02/hero.mp4"></video>
<div id="main-container">
    <div id="heading">
        <h1>
            Hii fill this form
        </h1>
    </div>
   
    <div id="second">
        <form action="/contact" method="post">
            <label for="name">Email:</label>
            <input type="email" name="email">
            <br>
            <label for="name">Name:</label>
            <input type="text" name="name">
            <br>
            <label for="name">Mobile:</label>
            <input type="text" name="number">
            <br>
            <input type="submit" placeholder="submit">
        </form>
    </div>
   
</div>
