body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.578); */
    color: white;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

#main-container{
    height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.568);
    z-index: 1;
    border-radius: 20px;
}
#heading{
    font-weight: 800;
    /* color: black; */
    height: 30%;
    /* border: 1px solid black; */
    /* border-bottom: 5px solid black; */
    text-align: center;
}
#second{
    font-size: larger;
    height: 65%;
    padding: 0 30px 0 30px;
    display: flex;
    align-items: center; 
    text-align: center;
}

#second input{
    margin-left: 4px;
    margin-bottom: 5px;
    border-radius: 50px;
}

#second input[type="submit"]{
    font-size: 20px;
}